h1{
    text-align:center;
    font-weight:bold;
    color: rgb(104, 102, 133);
    font-family:'Times New Roman', Times, serif;

}

.paragragh{
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font: size 15px;
}
/*create horizontal list*/ 
#recipes {

    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

  
  }
  
  
  
  li {
  
    display: inline-block;
  
    margin-right: 10px; /* Adjust spacing between list items */
  
  } 
  